.people-table {
  padding: 10px 0;
  box-sizing: border-box;
  background: #fbffd4;
  width: 95%;
  margin: 0 auto;
}

.people-table__thead {
  background: #ce6666;
}

.people-table__item {
  padding: 5px;
}

.people-table__row--selected {
  border: 3px solid blue;
}
