.person {
  border-bottom: 1px solid rgba(34,36,38,.15);
}

.person td {
  padding: 5px 3px 5px 5px;
  font-size: 15px;
}

.person--female {
  background: rgba(255, 182, 193, 0.61);
}

.person--born-before {
  text-decoration: line-through;
}

.person--died-after {
  font-weight: 500;
}

.person--age-more {
  border-left: 1px solid rgba(0, 128, 0, 0.788);
}

.person--father {
  background: rgba(99, 147, 236, 0.486);
}

.person--selected {
  border: 2px solid rgba(27, 70, 112, 0.822);
}