.crossed-out {
  text-decoration: line-through;
}

.highlighted {
  color: greenyellow;
}

.Person:hover {
  cursor: pointer;
  background-color: #ccc;
}

.Person--selected {
  background-color: darkgray;
}
