.people-table__person--male {
  background-color: rgb(204,228,247);
}

.people-table__person--female {
  background-color: rgb(243,195,243);
}

.people-table__person-info {
  padding: 4px 24px;
  border: 1px solid #fff;
  font-size: 18px;
}
