
.nav__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 auto;
  padding: 8px 0;
}

.nav__link {
  padding: 6px;
  font-weight: 800;
}

.nav__link:hover {
  color: lightsalmon;
  text-decoration: none;
}

.nav__link--active {
  color: lightsalmon;
}

h2 {
  text-align: center;
}

.form-control {
  width: 50%;
  margin: 16px auto;
}

.peopleTable {
  width: 800px;
  border-collapse: collapse;
  margin: 0 auto;
}

th,
td {
  padding: 8px;
  border: 1px solid lightgrey;
}

.personRow {
  cursor: pointer;
}

.personRow__active {
  background-color: yellow;
}

.person__woman,
.person__mother {
  color: red;
}

.person__man,
.person__father {
  color: blue;
}
