.people-table,
.people-table tr,
.people-table th,
.people-table td {
  border: 1px solid black;
  border-collapse: collapse;
}

.people-table {
  width: 100%;
}

.user--female {
  background: lightpink;
}

.line-through {
  text-decoration: line-through;
}

.bold {
  font-weight: bold;
}

.Person--selected {
  background-color: yellow;
}

.search-input {
  border: 1px solid black;
  margin-bottom: 10px;
  border-radius: 5px;
}

.people-table__head-cell {
  cursor: pointer;
}
