html {
  font-family: Arial, sans-serif;
}

.person {
  &--selected {
    background-color: #e5e5e5;
  }

  &__bornBefore1650 {
    text-decoration: line-through;
  }

  &__after65 {
    color: green;
  }
}
