body {
  margin: 24px;
}

.personActive {
  background: aquamarine;
}

.women {
  color: #dc3545;
}

.men {
  color: #007bff;
}

.nav {
  justify-content: center;
}

.isActive {
  background-color: #3194fd;
}
