 .app_load-button {
  margin:25px;
  width: 130px;
  height: 50px;
  background-color: white;
  border: 1px solid #a3a3a3;
  box-shadow: 0 1px 5px #a3a3a3;
  font-size: 20px;
}

.app_sort-button {
  margin:10px 35px;
  width: 100px;
  height: 40px;
  background-color: white;
  border: 1px solid #a3a3a3;
  box-shadow: 0 1px 5px #a3a3a3;
  font-size: 14px;
}

.app_sort-button:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.app_load-button:hover {
  margin: 20px;
  cursor: pointer;
  width: 140px;
  height: 60px;
  position: relative;
  font-size: 23px;
}

.app_search-input {
  margin: 15px;
  box-shadow: 0 1px 5px #a3a3a3;
  height: 20px;
}
