.App {
  width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.sort-buttons {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;

  &__btn {
    width: 100px;
    height: 50px;
  }
}

.filter-inputs {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.people-table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #000;
}

.person{

  &__lived-at-least-65 {
    background: green;
  }

  &__female {
    background: lightpink;
  }

  &__born-before-1650 {
    text-decoration: line-through
  }

  &__died-after-1800 {
    font-weight: bold;
  }

  &__father {
    background: cornflowerblue;
  }

  &--selected {
    border: 3px solid blue;
  }
}

