body {
  margin: 0;
  text-align: center;
}

.header {
  background-color: rgb(12, 219, 219);
  position: sticky;
  top: 0;
}

.nav {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    transition: 0.3s;

    &:hover {
      background-color: rgba(9, 158, 158, 0.5);
    }

    &--active {
      background-color: rgb(9, 158, 158);
    }
  }
}

.people__table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  padding: 10px;
}

.table__header {
  background-color: rgba(9, 158, 158, 0.7);
  padding: 10px 20px;
  border-bottom: 1px solid white;
}

.table__button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.table__row {
  padding: 10px 20px;
  background-color: rgba(9, 158, 158, 0.3);
  border-bottom: 1px solid white;
}

.table__row-id {
  font-weight: bold;
}

.table__row-woman {
  color: red;
}

.table__row-man {
  color: blue;
}

.table__person {
  cursor: pointer;

  &--active {
    background-color: rgba(9, 158, 158, 0.4);
  }
}

.search-field {
  margin-bottom: 20px;
  border: 1px solid rgb(9, 158, 158);
  height: 20px;
  width: 400px;
  font-size: 16px;
  padding: 5px 10px;
  color: black;
  box-shadow: 2px 2px 4px gray;
}
