html, body, ul {
  margin: 0;
}

.nav {
  height: 50px;
  background-color: slategrey;

  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    margin-right: 20px;
  }

  &__link {
    text-decoration: none;
    color: black;
    font-size: 40px;
  }

  &__link--active {
    color: white;
  }
}

.people {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  background-color: skyblue;

  a {
    text-decoration: none;
  }

  th {
    padding: 10px;
    border: 1px solid #fff;
  }

  &__header {
    background-color: #72a6da;
  }

  .person {
    cursor: pointer;

    &__male {
      color: #8b0000;;
    }

    &__female {
      color: #00008b;
    }
  }

  .person--active {
    background-color: #72a6da;
  }
}
