@mixin tableMain {
  border-bottom: 2px solid #403131;
  padding: 5px;
  text-align: center;
  font-weight: 200;
}

$female-color: #bf1304;
$male-color: #03b0bf;

.male {
  color: $male-color;
}

.female {
  color: $female-color;
}

body {
  color: #323232;
  background-color: #f2f2f2;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
}

a {
  margin: 5px 5px 5px 0;
  padding: 5px 5px 5px -5px;
  text-decoration: none;
  color: inherit;
  font-size: 1.2em;
  font-weight: 500;
}

.active {
  background-color: #f2811d;
}

.table {
  border: 3px solid #323232;
  border-collapse: collapse;
  background-color: rgba(#f27979, 0.2);

  &__header,
  &__body {
    @include tableMain;
  }

  &__header {
    font-weight: 500;
  }

  // &__body-row {
  //   // border-collapse: collapse;
  // }
}
