h1,
h2 {
  margin: 20px;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
}

.header {
  background-color: rgb(175, 169, 169);
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__link {
  display: inline-block;
  padding: 20px;
  color: black;
}

.nav__link--active {
  background-color: rgb(151, 151, 185);
}

.person__male {
  color: rgb(36, 36, 253);
}

.person__female {
  color: rgb(248, 108, 108);
}

.header-active {
  background-color: red;
}

.table {
  margin-top: 10px;
}
