.person-female {
background-color: lightpink;
}

.person-born-line {
  text-decoration: line-through;
}

.person-bold {
  font-weight: 700;
}

.person-age-greenborder {
  background-color:  rgb(157, 236, 157);
}

.person-father {
  background-color: cornflowerblue;
}
