/* .person {

} */
.person--male {

}

.person--female {
  background-color: lightpink;
}

.person--mother {

}

.person--father {
  background-color: cornflowerblue;
}

.person--lived-more-65y {
  border: 2px solid green;
}

/*add for names*/
.person--born-before-1650 {
  text-decoration: line-through;
}

/*add for names*/
.person--died-after-1800 {
  font-weight: bold;
}
