.PeopleTable {

  &-TableHeader {
    .PeopleTable-TableRow {
      .PeopleTable-HeaderCell {
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        cursor: pointer;
      }

      .PeopleTable-HeaderCell:hover {
        background-color: lighten(#009a93, 5);
      }

      .PeopleTable-HeaderCell:first-child:only-child {
        text-align: center;
        font-size: 16px;
        color: maroon;
      }
    }

    .PeopleTable-Icon {
      position: absolute;
      margin-left: 2px;
      left: 0;
    }
  }

  &-TableBody {
    .PeopleTable-TableRow {
      background-color: #fff;

      &_male {
        color: royalblue;
      }

      &_female {
        color: deeppink;
      }
    }
  }
}
