.app-header {
  margin: 0 0 15px;
  font-size: 25px;
  text-align: center;
}

.table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid rgba(34, 36, 38, 0.212);
  box-sizing: border-box;
}

.table__header th {
  padding: 7px 5px;
  border-bottom: 1px solid rgba(34, 36, 38, 0.212);
  text-align: left;
  cursor: pointer;
}

.table__header th:hover {
  background: rgba(40, 48, 72, 0.103);
}

.table-search {
  width: 100%;
  border: 1px solid rgba(34, 36, 38, 0.2);
  height: 40px;
  font-size: 18px;
  padding-left: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  outline-color: rgb(27, 37, 70);
}

.action-button {
  display: block;
  width: 300px;
  height: 40px;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.2);
  margin: 0 auto 10px;
  cursor: pointer;
  font-size: 18px;
  outline-color: rgb(27, 37, 70);
}

.action-button:hover {
  border: 1px solid rgba(34, 36, 38, 0.65);
}