.PeopleTable {

  &-TableRow {
    .PeopleTable-HeaderCell:first-child:only-child {
      text-align: center;
      font-size: 16px;
      color: maroon;
    }

    &_male {
      color: royalblue;
    }

    &_female {
      color: deeppink;
    }
  }
}
