.new-person-form {
  padding: 20px;
  background-color: white;
}

.new-person-form__name {
  width: 400px;
}

.new-person-form__sex {
  margin: 10px 0;
}

.new-person-form__life-dates {
  width: 100px;
  margin: 10px;
}

.new-person-form__parents {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-top: 10px;
}

.new-person-form__parents select {
  width: 80%;
  height: 21px;
}

.new-person-form__button {
  margin: 50px 10px 10px;
}

.error-message {
  color: red;
}
